langchain==0.3.21
langchain-community==0.3.19
langchain-openai==0.3.7
langchain-chroma==0.2.4
openai==1.68.2
fastapi==0.115.12
uvicorn==0.34.0
python-dotenv==1.1.0
pydantic==2.11.0
streamlit==1.43.2
chromadb==1.0.4
tiktoken==0.9.0
